<!--professor.component.html-->
<div [class]="'container-fluid'" [style]="'border: 20px solid #F4F9FB; padding: 0'">
  <div [class]="'row w-100 m-0 g-0'">

    <div [class]="'col-md-4 text-column'">
      <div [class]="'d-flex flex-column align-items-center'">
      <img ngSrc="/assets/images/JrFongDang_crp_1.1.jpg" 
           [class]="'img-fixed'" 
           width="200" 
           height="200" 
           priority="true" 
           alt="Professor Photo">
      <br>
      <h4>鄧志峰 博士</h4>
      <h6>Jr-Fong Dang, Ph.D.</h6>
      </div>
      <h6 [class]="'section-title'">Education</h6>
      <ul [class]="'info-list'">
        <li>
          國立交通大學工業工程與管理學系博士 (2012)
          <p>Ph.D. in Industrial Engineering and Management, National Chiao Tung University, Taiwan</p>
        </li>
        <li>
          國立中正大學企業管理學系碩士 (2007)
          <p>Master of Science in Business Administration, National Chung Cheng University, Taiwan</p>
        </li>
        <li>
          國立臺灣師範大學圖文傳播學系學士 (2004)
          <p>Bachelor of Science in Graphic Arts Communication, National Taiwan Normal University, Taiwan</p>
        </li>
      </ul>

      <h6 [class]="'section-title'">Professional Experience</h6>
      <ul [class]="'info-list'">
        <li>
          國立中興大學助理教授
          <p>Assistant Professor, National Chung Hsing University, Taiwan</p>
        </li>
        <li>
          逢甲大學助理教授
          <p>Assistant Professor, Feng Chia University, Taiwan</p>
        </li>
        <li>
          戴樂格半導體有限公司
          <p>Principal IT Applications Architect, Dialog Semiconductor</p>
        </li>
        <li>
          台灣積體電路製造股份有限公司
          <p>Principal Engineer, Taiwan Semiconductor Manufacturing Company (TSMC)</p>
        </li>
      </ul>

      <h6 [class]="'section-title'">Research Field</h6>
      <ul [class]="'info-list'">
        <li>
          機器學習、深度學習、異常偵測、預測性維修、瑕疵檢測、智慧製造
          <p>Machine learning, Deep Learning, Anomaly Detection, Equipment Health Monitoring and Predictive Maintenance, Defect Detection, Smart Manufacturing</p>
        </li>
      </ul>

    </div>
        <div [class]="'col-md-8 intro-column'">
          <h4>Research Field:</h4>
          <h6>Our laboratory focuses on developing AI agent applications that integrate large language models (LLMs), optimization methods, and industrial information systems to enable autonomous decision-making and collaborative problem solving. Our research encompasses agent architectures, multi-agent coordination, task planning, tool integration, and human–AI collaboration, with applications in intelligent scheduling, defect detection, predictive maintenance, and knowledge-based management using real-time data from MES, ERP, PLM, and IoT platforms.</h6>
<img ngSrc="/assets/images/messageImage_1764404449015.jpg" 
           width="200" 
           height="200">

  
</div>
    </div>
</div>